<img src="/wave.svg" alt="">

<div class="container">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="card mt-4">
    <div class="card-body text-center">
        <h1>Ver Recibo</h1>
        <a href="/recibo.txt" download="" class="btn btn-dark">Descargar</a>
    </div>
</div>
        </div>
    </div>
</div>