<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Firebase Node</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/journal/bootstrap.min.css">
    <link rel="stylesheet" href="main.css">
</head>
<body>
    {{{body}}}


    
{{!-- BOOTSTRAP --}}
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

{{!-- FIREBASE --}}
    <!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/8.1.1/firebase-app.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->

<script>
  // Your web app's Firebase configuration
  var firebaseConfig = {
    apiKey: "AIzaSyD8NTY51stSo3wFq36yJuMS5whJ8zIBOX0",
    authDomain: "proyecto-ingesoft.firebaseapp.com",
    databaseURL: "https://proyecto-ingesoft.firebaseio.com",
    projectId: "proyecto-ingesoft",
    storageBucket: "proyecto-ingesoft.appspot.com",
    messagingSenderId: "776561931171",
    appId: "1:776561931171:web:c474e60b3c28679fbfa016"
  };
  // Initialize Firebase
  firebase.initializeApp(firebaseConfig);
</script>  
<script src="auth.js"></script>

</body>
</html>