<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Firebase Node</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/journal/bootstrap.min.css">
    <link rel="stylesheet" href="main.css">
</head>
<body>
    <div class="container p-4 ">
        <div class="row">
            {{{body}}}
        </div>
    </div>

    {{!-- FIREBASE --}}
    <!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/8.1.1/firebase-app.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->

<script>
  // Your web app's Firebase configuration
  var firebaseConfig = {
    apiKey: "AIzaSyD8NTY51stSo3wFq36yJuMS5whJ8zIBOX0",
    authDomain: "proyecto-ingesoft.firebaseapp.com",
    databaseURL: "https://proyecto-ingesoft.firebaseio.com",
    projectId: "proyecto-ingesoft",
    storageBucket: "proyecto-ingesoft.appspot.com",
    messagingSenderId: "776561931171",
    appId: "1:776561931171:web:c474e60b3c28679fbfa016"
  };
  // Initialize Firebase
  firebase.initializeApp(firebaseConfig);
</script>  

{{!-- BOOTSTRAP --}}
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script> --}}
<script src="https://kit.fontawesome.com/f40b2f8597.js" crossorigin="anonymous"></script>
</body>
</html>